:root {
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #397097;
  transition: .5s;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button#btnStartTimer,
button#btnResetTimer{
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: auto;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
  color: white;
}

input {
  width: 320px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


.blink {
  animation: blink 0.5s ease-in-out 0.5s forwards;
}

.display-none {
  display: none !important;
}

.display-inlineBlock {
  display: inline-block;
}

.expandText {
  font-size: 5rem !important;
}

.shortenText {
  font-size: 3rem !important;
}

@keyframes blink{
  from {
    display: inline-block;
  }
  to {
    transform: translateY(40px); opacity: 0; 
  }
}


input:hover::placeholder {
  color: rgba(255, 255, 255, 0.418);
  transition: .3s;
}

input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.768);
}


#inputTimer {
  font-size: 5rem;
  font-weight: 700;
}

#inputBreakTimer {
  font-size: 3rem;
  font-weight: 600;
}

#btnStartTimer {
  font-size: 2rem;
  font-weight: 700;
}

#btnStartTimer:hover {
  color: #ab3232;
  transition: 0.3s;
}

#btnResetTimer{
  font-size: 1.2rem;
  font-weight: 600;
}

#btnResetTimer:hover {
  color: #154d76;
  transition: 0.3s;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  position: relative;
}

#pomodoroCounter {
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  color: #113d5c;
  font-weight: bold;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnStartTimer, #btnResetTimer {
  padding: 10px;
}